# Virtual Environment
Pipfile.lock
.env

# Media
/media/

# Models and Training Artifacts
fine_tuned_codet5p/
results/
logs/



# Dataset
dataset.jsonl


#IDE and System Files
.DS_Store

# Test functions
run_string_function_tests.py
string_function_test_results.log