services:
  db:
    image: postgres:16-alpine
    env_file:
      - .env.docker
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    env_file:
      - .env.docker
    depends_on:
      - db
    ports:
      - "8000:8000"

volumes:
  postgres_data: