[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
python-decouple = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
coverage = "*"
accelerate = "*"
sentencepiece = "*"
protobuf = "*"
transformers = "==4.44.2"
torch = "*"

[dev-packages]

[requires]
python_version = "3.12"
